<section id="contact" class="section section--secondary">
  <div class="container">
    <h2>Contact</h2>
    <p class="sub-title">Wij zullen zo snel mogelijk antwoord geven op al uw vragen!</p>

    <div class="contact-links">
      <a class="contact-link icon-with-text" href="mailto:info@carehr.nl">
        <i class="far fa-fw fa-envelope"></i>info@carehr.nl
      </a>
      <a class="contact-link icon-with-text" href="tel:+31642468484">
        <i class="far fa-fw fa-mobile"></i>(06) 42 46 84 84
      </a>
    </div>
      <form action="https://formspree.io/info@carehr.nl" method="POST" data-form-validation>
        <div class="form-inline">
          <div class="form-section" data-form-section="name">
            <label for="name">Naam*</label>
            <input type="text" id="name" name="name">
          </div>
          <div class="form-section" data-form-section="email">
            <label for="email">E-mail*</label>
            <input type="email" id="email" name="_replyto">
          </div>
        </div>
        <div class="form-section" data-form-section="subject">
          <label for="subject">Onderwerp*</label>
          <input type="text" id="subject" name="_subject">
        </div>
        <div class="form-section" data-form-section="message">
          <label for="message">Bericht*</label>
          <textarea name="message" id="message"></textarea>
        </div>
        <button type="submit" class="button button--full-width">
          Versturen
        </button>
        <input type="hidden" name="_language" value="nl">
        <input type="hidden" name="_next" value="<%= url %>/?success=true#contact">
      </form>
  </div>
</section>
