    <%- include('contact') %>
    <footer class="section">
      <center class="container">
        Website door: <a href="https://nielsgerritsen.com">nielsgerritsen.com</a>
      </center>
    </footer>
  </body>
</html>
