    <%- include('contact') %>
    <footer class="section">
      <center class="container intro">
        Website ontwerp & ontwikkeling door:&nbsp; <a href="https://nielsgerritsen.com">nielsgerritsen.com</a>
      </center>
    </footer>
  </body>
</html>
