<section class="section section--primary">
  <div class="container">
    <h2>FWG check in de zorg</h2>
    <p class="sub-title">Zijn uw functies nog goed beschreven en juist ingedeeld?</p>

    <p><strong>Functiebeschrijvingen worden gebruikt om duidelijkheid te geven over taken en verantwoordelijkheden en kunnen verder gebruikt worden bij functioneringsgesprekken, werving en selectie en voor het indelen van functies.</strong><p>

    <p>Zijn er in uw organisatie een oerwoud aan beschrijvingen ontstaan, zijn functies niet te individueel opgesteld waardoor uitwisseling moeizaam zijn?</p>

    <p>CareHR kan u helpen bij het opstellen van functiebeschrijvingen die voldoen aan de kwaliteitseisen zoals omschreven in de CAO en geeft u advies over indelingen. We hebben een ruime ervaring opgebouwd in diverse Indelings Bezwaren Commissies.</p>

    <a href="diensten.html#advies-ondersteuning" class="button">Lees meer</a>
    <span class="button-post-fix">Of <a href="#contact" class="leaderboard-link">neem direct contact op</a>.</span>
  </div>
</section>
