@import 'variables';

.button {
  display: inline-block;
  border-radius: 8px;
  padding: 0 1.8rem !important;
  height: 3.8rem;
  line-height: 3.2rem;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: transparent;

  &:hover {
    text-decoration: none;
  }
}

@mixin button-theme($color) {
  color: $color;
  border: 3px solid $color;

  @if lightness($color) > 50% {
    &:hover {
      color: darken($color, 20%);
      border-color: darken($color, 20%);
    }
  }
  @else {
    &:hover {
      color: lighten($color, 20%);
      border-color: lighten($color, 20%);
    }
  }
}

.button--primary {
  @include button-theme($care-blue)
}

.button--on-dark {
  @include button-theme($white)
}

.button--default {
  @include button-theme($grey)
}
