@import 'variables';
@import 'mixins';

.top-bar {
  width: 100%;
  height: $nav-height;
  margin: 0;
  padding: 0
}

.logo-container {
  display: block;
  height: $nav-height;
  padding: $spacing-medium 0;
  margin: 0;
}

.logo {
  display: block;
  width: auto;
  height: $nav-height - $spacing-large;
}

.main-menu {
  display: none;
}

@media screen and (min-width: 720px) {
  .top-bar__contents {
    display: flex;
    justify-content: space-between;
  }

  .main-menu {
    display: flex;
    padding: 0;
    margin: 0;
    height: $nav-height;
  }

  .main-menu__item {
    padding: 0;
    height: $nav-height;
    line-height: $nav-height;
    margin: 0 0 0 $spacing-medium;
    list-style: none;
  }
}
