@import 'variables';
@import 'mixins';

.top-bar {
  width: 100%;
  height: $nav-height;
  margin: 0;

  .wrap {
    padding: 0 $spacing-medium;
  }
}

.logo-container {
  display: table-cell;
  vertical-align: middle;
  height: $nav-height;
  padding: $spacing-medium 0;

  .logo {
    width: auto;
    height: $nav-height - $spacing-large;
    display: inline-block;
  }

  &:hover {
    opacity: 0.8;
  }
}

.main-menu {
  ul {
    @extend %reset-spacing;

    list-style: none;
    float: right;

    .hidden {
      display: none;
    }

    .active a {
      color: darken($grey, 30%);
      border-color: darken($grey, 30%);
    }
  }
}

.main-menu-item {
  float: left;
  height: $nav-height;
  padding: 35px 0 0;
  margin: 0 0 0 21px;

  a {
    @include button-border($grey);
    padding: 0 18px !important;
  }
}

.mobile {
  display: none;
  float: right;
  padding-top: $spacing-medium;
}

.instruction {
  color: $grey;
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 820px) {
  .nav {
    display: none;
  }

  .mobile {
    display: block;
  }
}
