@import 'variables';
@import 'mixins';

.top-bar {
  position: fixed;
  width: 100%;
  height: $nav-height;
  margin: 0;
  z-index: 9999;
  transition: all 0.8s ease;

  &.narrow {
    height: $nav-height/1.6;
  }

  .wrap {
    padding: 0 21px;
  }

  background-color: rgba(249,249,249,0.85);
}


.logo-container {
  display: table-cell;
  vertical-align: middle;
  height: $nav-height;
  transition: all 0.8s ease;

  .logo {
    max-width: 95%;
    max-height: 95%;
    display: inline-block;
  }

  &:hover {
    opacity: 0.8;
  }
}

.narrow .logo-container {
  height: $nav-height/1.6;
}

.main-menu {
  ul {
    @extend %reset-spacing;

    list-style: none;
    float: right;

    .hidden {
      display: none;
    }

    .active a {
      color: darken($grey, 30%);
      border-color: darken($grey, 30%);
    }
  }
}

.main-menu-item {
  transition: all 0.8s ease;
  float: left;
  height: $nav-height;
  padding: 35px 0 0;
  margin: 0 0 0 21px;

  a {
    @include button-border($grey);
    padding: 0 18px !important;
  }
}

.mobile {
  display: none;
  float: right;
  padding-top: 22px;
}

.instruction {
  color: $grey;
  font-size: 18px;
  font-weight: 600;
}

.narrow .main-menu-item,
.narrow .mobile {
  padding: 16px 0 0;
}


@media screen and (max-width: 820px) {
  .nav {
    display: none;
  }

  .mobile {
    display: block;
  }
}
