$main-font: 'Open Sans', Helvetica, Arial, sans-serif;

$care-blue: #0077d4;
$care-green: #46d05d;
$alert-red: #d44d4d;

$dark: #333;
$grey: #979797;
$white: #fff;

$regular: 400;
$semi-bold: 600;
$bold: 700;

$nav-height: 120px;

$spacing-medium: 21px;
$spacing-small: $spacing-medium / 2;
$spacing-large: $spacing-medium * 2;
