@import 'variables';
@import 'mixins';

@import 'base';
@import 'top-bar';
@import 'contact';

header {
  padding-top: $nav-height;
  background-color: rgb(249,249,249);
  .wrap {
    background: url(../images/doctors.jpg) no-repeat center top;
    height: 400px;
    padding: 0;
  }
}

.intro {
  background-color: $dark;
  color: $white;

  p {
    font-size: 18px;
  }

  .button {
    margin-top: 24px;
    @include button-border($white);
  }

  img {
    display: block;
    max-width: 90%;
    margin: 0 auto;
  }
}

.service {
  margin: 32px 0;

  h3 {
    color: lighten($dark, 10%);
    margin-bottom: 18px;
  }
  img {
    max-width: 25%;
    height: auto;
  }

  p {
    font-size: 17px;
  }

  .service-intro {
    font-weight: 600;
  }

  &:nth-child(2n+0) {
    text-align: left;

    img {
      float: left;
      margin-right: 24px;
    }
  }

  &:nth-child(2n+1) {
    img {
      float: right;
      margin-left: 24px;
    }
  }
}

.about {
  background-color: darken($white, 6%);

  p {
    font-size: 18px;
  }

  .button {
    margin-top: 24px;
    @include button-border($care-blue);
  }
}
