*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--mainFont);
  font-size: 1.5rem;
  background-color: var(--background);
  color: var(--foreground);
  line-height: 1.5;
}

h1, h2, h3 {
  font-family: var(--titleFont);
}

h2 {
  font-size: 3rem;
  margin: 0 0 4rem;
}

h3 {
  font-size: 2rem;
  margin: 0 0 1.6rem;
}

h4 {
  font-size: 1.6rem;
  margin: 0 0 1.6rem;
}

p {
  margin: 0 0 2.4rem;
}

a,
a:visited {
  color: var(--primary);
  text-decoration: none;
}

a:focus,
a:hover {
  color: var(--primary);
  text-decoration: underline;
}

.breadcrumb {
  display: block;
  margin-bottom: 0.8rem;
}

.intro {
  color: var(--grey);
  margin-bottom: 1.6rem;
}

.container {
  max-width: 92rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

.headline {
  color: var(--grey);
  font-family: var(--titleFont);
}

.quote {
  color: var(--grey);
  font-size: 1.9rem;
}

.question {
  display: block;
  color: var(--secondary);
  font-weight: bold;
  margin-top: 0.8rem;

}

.show-more-in-line {
  margin-top: 0.8rem;
  display: block;
}

.icon-with-text > *:first-child {
  display: inline-block;
  margin-right: 0.6em;
}

.sub-title {
  margin-top: -4.2rem;
  opacity: 0.6;
  font-family: var(--titleFont);
}

.right-image {
  float: right;
  padding: 0;
  margin: 0 0 2.4rem 2.4rem;
}

.button-post-fix {
  display: block;
  text-align: center;
  margin-top: 1.6rem;
}

.leaderboard-link,
.leaderboard-link:visited {
  color: var(--white);
  text-decoration: underline;
}

@media screen and (min-width: 620px) {
  .button-post-fix {
    display: inline-block;
    text-align: left;
    margin-left: 1.6rem;
  }
}
