.contact-link {
  display: block;
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
}

.contact-link:last-child {
  margin-bottom: 2.4rem;
}

@media screen and (min-width: 620px) {
  .contact-links {
    display: flex;
  }

  .contact-link {
    width: 50%;
  }
}
