input,
textarea {
  display: block;
  border: 0;
  background-color: var(--white);
  padding: 1.4rem 1.8rem;
  width: 100%;
  line-height: 1.6;
  font-size: 1.4rem;
  border-radius: 0.6rem;
}

input:focus,
textarea:focus {
  outline: none;
}

textarea {
  min-height: 20rem;
  height: auto;
}

label {
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 0.6rem;
  opacity: 0.7;
}

.form-section {
  margin-bottom: 1.6rem;
}

.form-error {
  font-size: 1.4rem;
  margin-top: 0.4rem;
  color: red;
}

@media screen and (min-width: 620px) {
  .form-inline {
    display: flex;
  }

  .form-inline .form-section {
    width: 50%;
    margin-right: 1.6rem;
  }

  .form-inline .form-section:last-child {
    margin-right: 0;
  }
}
