.profiles {
  margin: 1.6rem 0;
}

.profile {
  position: relative;
  border-radius: 0.4rem;
  box-shadow: 0 3px 14px var(--shadow);
  margin-bottom: 1.6rem;
  padding-bottom: 2.4rem;
  background-color: var(--white);
}

.profile__image {
  position: relative;
  margin: 0;
  padding: 0;
  height: 28rem;
  background-color: var(--grey);
  background-size: cover;
  border-radius: 0.4rem 0.4rem 0 0;
}

.profile__info {
  padding: 1.6rem;
  position: relative;
}

.profile__linkedin,
.profile__linkedin:visited {
  position: absolute;
  bottom: 0;
  display: block;
  text-align: center;
  padding: 1.6rem 1.6rem 2.4rem;
  color: var(--primary);
  text-decoration: none;
  width: 100%;
  text-align: center;
  border-radius: 0.4rem;
}

.profile__linkedin:hover,
.profile__linkedin:focus {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (min-width: 620px) {
  .profiles {
    display: flex;
  }

  .profile {
    width: 33%;
    margin-right: 3.2rem;
  }

  .profile:last-child {
    margin-right: 0;
  }
}
