.profiles {
  margin: 1.6rem 0;
}

.profile {
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
  box-shadow: 0 3px 14px var(--shadow);
  margin-bottom: 2.4rem;
  background-color: var(--white);
}

.profile__image {
  text-align: right;
  padding: 0.8rem 1.6rem;
  position: relative;
  margin: 0;
  height: 28rem;
  background-color: var(--grey);
  background-size: cover;
  border-radius: 0.4rem 0.4rem 0 0;
}

.profile__linkedin {
  position: relative;
  font-size: 2.5rem;
}

.profile__linkedin:hover,
.profile__linkedin:focus {
  color: var(--secondary);
}

.profile__info {
  flex-grow: 1;
  padding: 1.6rem 1.6rem 0;
  position: relative;
}

@media screen and (min-width: 620px) {
  .profiles {
    display: flex;
  }

  .profile {
    width: 33%;
    margin-right: 3.2rem;
  }

  .profile:last-child {
    margin-right: 0;
  }
}
