.section {
  padding: 4.8rem 0;
}

.section--header {
  padding: 3.2rem 0;
}

.section--primary {
  background-color: var(--primary);
  color: var(--white);
}

.section--secondary {
  background-color: var(--lightGrey);
}

.section--odd {
  background-color: var(--white);
}


@media screen and (min-width: 620px) {
  .section {
    padding: 6.4rem 0;
  }

  .section--header {
    padding: 4.8rem 0;
  }
}
