.service {
  display: flex;
  flex-direction: column;
  margin-bottom: 4.8rem;
}

.service__intro {
  margin-bottom: 1.6rem;
}

.service__content {
  flex-grow: 1;
}

.service__icon {
  color: var(--primary);
  margin-bottom: 1.6rem;
  padding-bottom: 1.6rem;
  font-size: 2.4rem;
  border-bottom: 1px solid var(--border);
}

@media screen and (min-width: 620px) {
  .services {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.6rem;
  }

  .service {
    -webkit-box-flex: 0;
    max-width: 50%;
    flex: 0 0 50%;
    padding: 0 1.6rem;
  }
}
