@import 'variables.css';

@import 'button.css';
@import 'check-list.css';
@import 'contact.css';
@import 'forms.css';
@import 'profiles.css';
@import 'section.css';
@import 'title.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--mainFont);
  font-size: 1.8rem;
  background-color: var(--background);
  color: var(--foreground);
}

h1, h2 {
  font-family: var(--titleFont);
}

h2 {
  font-size: 3rem;
  margin: 0 0 3.2rem;
}

p {
  margin: 0 0 4rem;
}

.container {
  max-width: 92rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

.headline {
  color: var(--grey);
  font-family: var(--titleFont);
}

.quote {
  color: var(--grey);
  font-size: 1.9rem;
}

.icon-with-text {
  display: flex;
}

.icon-with-text > *:first-child {
  position: relative;
  top: 0.4rem;
  margin-right: 1.6rem;
}

.sub-title {
  margin-top: -2.8rem;
  font-size: 0.9em;
  opacity: 0.65;
  font-family: var(--titleFont);
}

.right-image {
  float: right;
  padding: 0;
  margin: 0 0 2.4rem 2.4rem;
}
