.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  font-size: 3.2rem;
  margin: 0 0.8rem 0.4rem 0;
}

.title__postfix {
  display: inline-block;
  width: 6.4rem;
  height: 6.4rem;
  line-height: 6.4rem;
  border-radius: 3.2rem;
  text-align: center;
  background-color: var(--primary);
  color: var(--white);
  margin-left: 0.5rem;
}

.title-link,
.title-link:visited {
  color: inherit;
}

.title-link:focus,
.title-link:hover {
  text-decoration: none;
}
