:root {
  --primary: #3a8efc;
  --secondary: #17519e;
  --secondary-hover: #13488e;
  --white: #fff;
  --background: #f4f4f4;
  --foreground: #222;
  --border: #ddd;
  --shadow: #bbb;
  --grey: #5f636b;
  --lightGrey: #dedede;

  --titleFont: 'Rubik', Helvetica, Arial, sans-serif;
  --mainFont: 'Open Sans', Helvetica, Arial, sans-serif;
}
